@import '../styles/common/variables';
@import '../styles/common/mixins';
@import '../styles//common/typography';

$page-shape: 0 3% 3% 0;
$page-shape-back: 3% 0 0 3%;

@keyframes downFrames {
  from {
    transform: translateY(0);
  }

  10% {
    transform: translateY(100%);
  }

  20% {
    transform: translateY(0);
  }

  to {
    transform: translateY(0);
  }
}

.clay {
  color: $clay;
}

#book-animation {
  --page-count: 13; // make sure to change this if needed
  --page-scroll: 25; // helps calcs scroll area
  height: calc(((var(--page-count) + 2) * var(--page-scroll)) * 1vh);
}

.book,
.shadow {
  position: fixed;
  height: 75vmin;
  width: 48vmin;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
  perspective: 1200px;

  @include media-breakpoint-up(md) {
    height: 75vmin;
    width: 48vmin;
  }

  @include media-breakpoint-up(lg) {
    height: 80vmin;
    width: 60vmin;
  }

  @include media-breakpoint-up(xl) {
    height: 85vmin;
    width: 60vmin;
  }

  &.shadow {
    @include media-breakpoint-up(md) {
      box-shadow: 2vmin 2vmin 3vmin $white, -1vmin -2vmin 3vmin $white;
      border-radius: $page-shape;
    }
  }

  &.scroll {
    right: 50vw;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(md) {
      font-size: 1.2rem;
    }

    .down {
      width: 1.5rem;
      animation-direction: normal;
      animation-duration: 3s;
      animation-name: downFrames;
      animation-play-state: running;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      @include media-breakpoint-up(md) {
        width: 2rem;
      }
    }
  }

  &.page {
    transform-style: preserve-3d;
    position: absolute;
    left: 1px;
    top: 50%;
    transform: translate(0, -50%);
    transform-origin: 0% 50%;
    height: 94%;
    width: 94%;
    border: 1px solid $dark-gray;
    background-color: $white;
    border-radius: $page-shape;
    z-index: calc(((var(--page-count) + 2) - var(--page-index)) * 2);
  }

  &.cover {
    border-radius: $page-shape;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    background: $sand;

    &.front {
      margin-left: 1px;
      color: $clay;

      .subtext {
        font-size: clamp(1rem, 2.2vw, 3rem);
        color: $clay;
      }
    }
  }

  .number {
    font-family: $yusei;
    position: absolute;
    color: $dark-gray;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.6rem;

    @include media-breakpoint-up(md) {
      font-size: 0.8rem;
    }

    &.left-bottom {
      left: 1rem;
    }

    &.white {
      color: $white;
    }
  }
}

.page {
  transform: rotateY(calc(var(--rotation) * 1deg))
    translate3d(0, 0, calc((0.5 * var(--coefficient)) * 1px));

  &.half {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &.front {
      --rotation: 0;
      --coefficient: 0;
      backface-visibility: hidden;
    }

    &.back {
      --rotation: 180;
      --coefficient: 2;
    }
  }
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: $page-shape;
  padding: $section-padding;

  &.resume {
    padding: $section-padding * 2 $section-padding;
    justify-content: flex-start;
  }

  .years {
    font-family: $yusei;
    font-size: 0.8rem;

    @include media-breakpoint-up(sm) {
      margin-bottom: $copy-margin-bottom;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.2rem;
    }
  }

  .details {
    list-style: inside;

    & > ::marker {
      color: $sand;
    }
  }

  &.illustration {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: $page-shape-back;
  }

  &.canoe {
    background-image: url('/images/canoe.svg');
  }

  &.wading {
    background-image: url('/images/wading.svg');
  }

  &.city {
    background-image: url('/images/cityscape.svg');
    background-color: $grey-blue;
  }

  &.globe {
    background-image: url('/images/globe.svg');
  }

  &.adler {
    background-image: url('/images/chicago.svg');
  }
}

.socials {
  line-height: 2;
  list-style-type: none;
  text-align: left;
  font-size: 1.2rem;

  .porfolio, .linkedin, .github {
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      left: -1.5rem;
      height: 0.8rem;
      width: 0.8rem;

      @include media-breakpoint-up(md) {
        left: -1.8rem;
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }

  .porfolio:before {
    content: url('/images/external-link.svg');
    top: 0.1rem;
  }

  .linkedin:before {
    content: url('/images/linkedin.svg');
  }

  .github:before {
    content: url('/images/github.svg');
    top: 0.1rem;
  }
}

.end-cover {
  background-image: url('/images/back-cover.svg');
  background-size: cover;
  background-position: center 2px;
  background-repeat: no-repeat;
  background-color: $sky-blue;
  position: relative;

  .ending {
    font-family: $yusei;
    color: $med-gray;
    position: absolute;
    top: 15%;
  }
}
