@import 'variables.scss';
@import '../common/_mixins.scss';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: $noto-reg;
	color: $black;
	line-height: 1;
	background-color: $light-gray;
}

h1 {
	font-family: $yusei;
	text-align: center;
	font-size: clamp(1.9rem, 4vw, 5rem);
	margin-bottom: $copy-margin-bottom;
}

.h2 {
	color: $sky-blue;
	font-family: $yusei;
	text-align: center;
	line-height: 1;
	margin-bottom: $copy-margin-bottom-mobile;
	font-size: clamp(1rem, 3vw, 2rem);
	line-height: 1.1;

	@include media-breakpoint-up(sm) {
		margin-bottom: $copy-margin-bottom * 2;
	}
}

p, li {
	margin-bottom: $copy-margin-bottom-mobile;
	line-height: 1.2;
	font-size: 0.8rem;
	color: $black;
	font-family: $noto-light;

	@include media-breakpoint-up(md) {
		margin-bottom: $copy-margin-bottom;
		line-height: 1.5;
		font-size: 1rem;
	}
}

a {
	text-decoration: none;
	color: $dark-gray;
	font-family: $noto-med;
	transition: color 150ms linear;

	&:hover {
		color: $sky-blue;
	}
}

.mobile-none {
	display: none;

	@include media-breakpoint-up(md) {
		display: block;
	}
}
