/** COLORS */
$white: #fff;
$black: #000;
$dark-gray: #4c4d4d;
$light-gray: #eeeeee;
$med-gray: #cbcbcb;

$sky-blue: #5f879c;
$grey-blue: #9ba9b0;
$sand: #e1d5c0;
$dark-brown: #180a03;
$olive: #4b4815;
$clay: #866859;

/** LAYOUT */
$section-padding: 2vw;
$copy-margin-bottom: 20px;
$copy-margin-bottom-mobile: 10px;
