/** COLORS */
$white: #fff;
$black: #000;
$dark-gray: #4c4d4d;
$light-gray: #eeeeee;

// $green-bg: #cbe9b3;
// $dark-green: #668250;

// $sand: #ecc8ae;
// $redish: #d7907b;
// $eggplant: #6c4b5e;
// $blush: #d7c6cf;


/** LAYOUT */
$section-padding: 2vw;
$copy-margin-bottom: 20px;
